<toolbar (drawerEvent)="menuDrawer.toggle()" [connected]="true"></toolbar>
<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #menuDrawer mode="Side">
    <mat-selection-list *ngIf="true" [multiple]="false">
      <mat-divider></mat-divider>
      <mat-list-option [routerLink]="'/'">
        <a matLine>
          <button mat-icon-button>
            <mat-icon>home</mat-icon>
          </button>
          Home
        </a>

      </mat-list-option>

      <mat-list-option [routerLink]="'/markets'">
        <a matLine>
          <button mat-icon-button>
            <mat-icon>home</mat-icon>
          </button>
          Markets
        </a>
      </mat-list-option>

      <mat-list-option [routerLink]="'/funds'">
        <a matLine>
          <button mat-icon-button>
            <mat-icon>home</mat-icon>
          </button>
          Funds
        </a>

      </mat-list-option>

    </mat-selection-list>


  </mat-drawer>
  <mat-drawer-content>
      <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
